### print hello world

In [1]:
print("hello world")

hello world

### variabel

In [2]:
# integer
angka = 10
print(angka)

# float
bil_pecahan = 2.5
print(bil_pecahan)

# string
kalimat = "kecerdasan buatan"
print(kalimat)

# boolean
kondisi = False
print(kondisi)

10
2.5
kecerdasan buatan
False

### tipe data

In [3]:
# integer
angka = 10
print(angka)
print(angka, "tipe datanya: ", type(angka))

# float
bil_pecahan = 2.5
print(bil_pecahan)
print(bil_pecahan, "tipe datanya: ", type(bil_pecahan))

# string
kalimat = "kecerdasan buatan"
print(kalimat)
print(kalimat, "tipe datanya: ", type(kalimat))

# boolean
kondisi = False
print(kondisi)
print(kondisi, "tipe datanya: ", type(kondisi))

10
10 tipe datanya:  <class 'int'>
2.5
2.5 tipe datanya:  <class 'float'>
kecerdasan buatan
kecerdasan buatan tipe datanya:  <class 'str'>
False
False tipe datanya:  <class 'bool'>

### string

In [6]:
# print dari block code yg lain
print(angka)
print(bil_pecahan)
print("\n")

kalimat = "Nama saya ai"
print(kalimat)
print(kalimat[0]) # print karakter pertama
print(kalimat[-1]) # print karakter terakhir
print(kalimat[5:9]) # print dari indeks 5 - 8
print(kalimat[:4]) # print dari indeks 0 - 3

10
2.5


Nama saya ai
N
i
saya
Nama

### list

In [8]:
tipe_list = [5, 'sepuluh', 15.5, 20, [1, 2, 3]]
print(tipe_list)

# print indeks 1
print(tipe_list[1])

# print indeks [4][1]
print(tipe_list[4][1])

# print indeks 0-2
print(tipe_list[:3])

# print indeks 3 - terakhir
print(tipe_list[3:])

# merubah nilai indeks ke-0
tipe_list[0] = 2
print(tipe_list)

# menghapus salah satu indeks
tipe_list.remove(20)
print(tipe_list)

# mencetak tipe data
print(type(tipe_list[1]))
print(type(tipe_list[2]))

[5, 'sepuluh', 15.5, 20, [1, 2, 3]]
sepuluh
2
[5, 'sepuluh', 15.5]
[20, [1, 2, 3]]
[2, 'sepuluh', 15.5, 20, [1, 2, 3]]
[2, 'sepuluh', 15.5, [1, 2, 3]]
<class 'str'>
<class 'float'>

### tuple

In [9]:
tipe_tuple = (200, 5.5, 'halo', (1, 2))
print(tipe_tuple)

# mencetak jenis tipe data
print(type(tipe_tuple))

# print tuple indeks ke-2
print(tipe_tuple[2])

# print tuple indeks ke [3][1]
print(tipe_tuple[3][1])

# tuple tidak bisa dirubah nilai nya
# tipe_tuple[0] = 300
# print(tipe_tuple)

(200, 5.5, 'halo', (1, 2))
<class 'tuple'>
halo
2

### set

In [10]:
tipe_set = {'python', 3, 2, 1, 2}
print(tipe_set)

# print jenis tipe data
print(type(tipe_set))

{1, 2, 3, 'python'}
<class 'set'>

### dictionary

In [11]:
tipe_dictionary = {'satu':4, 5:10}
print(tipe_dictionary)

# print jenis tipe data
print(type(tipe_dictionary))

# print key/kunci 'satu'
print(tipe_dictionary['satu'])

# print key/kunci 5
print(tipe_dictionary[5])

{'satu': 4, 5: 10}
<class 'dict'>
4
10

### percabangan

In [1]:
angka = -1

if angka > 0:
    print(angka, "bilangan positif")
else:
    print("bilangan negatif")

bilangan negatif

In [2]:
angka = 0

if angka > 0:
    print(angka, "bilangan positif")
elif angka == 0:
    print("nol")
else:
    print("bilangan negatif")

nol

### for

In [3]:
numbers = [1,2,3,4,5]

for i in numbers:
    print("sekarang adalah angka :", i)

sekarang adalah angka : 1
sekarang adalah angka : 2
sekarang adalah angka : 3
sekarang adalah angka : 4
sekarang adalah angka : 5

In [4]:
numbers = [1,2,3,4,5]

jumlah = 0

for i in numbers:
    jumlah = jumlah + i

print("jumlah semuanya: ", jumlah)

jumlah semuanya:  15

In [6]:
for i in range(10):
    print("hello world ke -",i)

hello world ke - 0
hello world ke - 1
hello world ke - 2
hello world ke - 3
hello world ke - 4
hello world ke - 5
hello world ke - 6
hello world ke - 7
hello world ke - 8
hello world ke - 9

In [9]:
for letter in "programming":
    if letter == "g":
        break
    print("huruf sekarang:", letter)

huruf sekarang: p
huruf sekarang: r
huruf sekarang: o

### while

In [7]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [8]:
a = 0
while a < 5:
    print(a)
    a += 1
else:
    print(a,"tidak kurang dari 5")

0
1
2
3
4
5 tidak kurang dari 5

### inputan

In [11]:
name = input("masukan nama: ")
print(name)
print(type(name))

kecerdasan buatan
<class 'str'>

In [13]:
panjang = int(input("masukan nilai panjang: "))
lebar = int(input("masukkan nilai lebar: "))
luas = panjang * lebar
print(panjang)
print(lebar)
print("luas = ", luas)
print(type(panjang))

5
8
luas =  40
<class 'int'>